.text-container {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    border:1.5px solid #333;
    transition: all 0.3 sec;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor:default;
    max-width: 200px;;
  }
  .text-container :hover{
    transform: scale(1.1); 
  }
  .text-container h2{
    font-weight: 800;
    font-size:1.2 rem;
  }
  .text-container p {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  