.title-logo {
    align-items: center;
    
}
  .title-logo .img-container img {
    width: 4rem; 
    margin-right: 10px;
  }
  @media(max-width:768px){
  .title-logo h1{
    font-size: 1rem;
  }
  .img-container{
    width:15%;
  }
  }
  