.contact-container{
    justify-content: space-between;
    align-items: center;
    height:100vh;
}
.contact-info{
    justify-content: center;
    align-items: center;
    width:30%;
    margin-left:6%;
}
.contact-title{
    font-size: 3rem;
    padding-bottom: 1em;
    margin-left:190px;
}
.contact-info .custom-input{
    width:170%;
    margin-right:100px;
}
.custom-textarea{
    resize: vertical;
}

.contact-img-container{
    width:700px;
    margin-right:9%;
}
.contact-img-container img{
    width:100%;
    height: 100%;
}
.contact-info .custom-button{
    margin-left:190px;
}
/* Add animation classes */
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .contact-title,
  .contact-info {
    animation: fadeInUp 1s ease-out;
  }
  
  .contact-img-container {
    animation: slideInLeft 1s ease-out;
  }