.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-image: url(../../assets/image6.webp); */
    /* background-color: #284c6d; */
    background-repeat:no-repeat;
    background-position:top;
    background-size: contain;
    object-fit: cover;
  }
  
  .login-form {

    width: 30vw;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    
  }
  
  .login-form .custom-input {
    margin-bottom: 15px;
  }
  .signup{
    margin-top:20px;
    color:#1261A9;
  }
  .signup:hover{
    color:#FFD700;
  }