.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 20px;
    background-color: #f5f5f5;
  }
  
  .left-section {
    flex: 1;
    max-width: 500px;
    margin-right: 20px;
  }
  
  .left-section h1 {
    font-size: 36px;
    color: #333;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .img-container {
    flex: 1;
    max-width: 600px;
  }
  
  .img-container img {
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    .hero-container {
      flex-direction: column;
      align-items: center;
      padding: 40px 20px; 
    }
  
    .left-section {
      max-width: none; 
      margin-right: 0;
      text-align: center; 
    }
  
    .left-section h1 {
      font-size: 24px; 
    }
  
    .button-container {
      margin-top: 10px; 
    }
  
    .img-container {
      max-width: none; 
      margin-top: 20px; 
    }
  }
  .banner{
    background-color: #1261A9;
    height:20vw;
    justify-content: space-between;
    align-items:center;
    /* flex-wrap: wrap; */
    /* background-size: cover;
    background-position: center; */
  }
  .banner-img-container{
    /* height:-40vh; */
    /* flex:1; */
  }
  .banner-txt-btn{
    flex:3;
  }
  .banner h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color:#f0f0f0
  }
  .banner .custom-button {
    
    color: black;
    font-size:1em ;
  }
  .ml-mastery{
    background-color: #f5f5f5;
  }
  .ml-text{
    gap:4%;
    margin-right:4%;
  }
  .ml-text h2{
    /* margin-bottom: 2%; */
  }
  .ml-text h4{
    /* margin-bottom:2%; */
  }