.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #333;
    color: #fff;
    flex-wrap: wrap;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  .social-icons i {
    font-size: 2.5rem;
    margin-right: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul li {
    margin-bottom: 10px;
  } 
  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    color: gainsboro;
    transition: background-color 0.3s ease;
  } 
  @media (max-width: 768px) {
    .column {
      flex-direction: row;
      justify-content: center;
      text-align: center;
    }
    .column ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .column ul li {
      margin-bottom: 5px;
    }
    .social-icons i {
      font-size: 1.5rem;
    }
  }
  