.CardExperience {
    display: flex;
    align-items: flex-start;
    width: 300px;
    border: 2px solid #ffd700;
    border-radius: 12px;
    border-top-left-radius: 0px;
    padding: 1rem;
    background-color: #ffd700;
    cursor: default;
    position: relative;
  }
  
  .CardExperience:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    /* background-color: #ffd700; */
  }
  
  .TopLeftLine {
    position: absolute;
    top: -30px;
    left: -1.5px;
    width: 2px;
    height: 50%;
    background-color: #ffd700;
  }
  
  .StepContainer {
    position: absolute;
    top: -40px;
    left:20px;
  }
  
  .CardContent {
    flex: 1;
  }
  
  .CardExperience__step {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
  }
  
  .CardExperience__title {
    font-size: 1rem;
    padding-bottom:4%;
    font-weight: bold;
    color: #000;
  }
  
  .CardExperience__text {
    font-size: 0.8rem;
    color: #333;
  }
  