    .CardExperience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 12px;
    border-top-left-radius: 0;
    padding: 1rem;
    box-shadow: 20px 20px 50px 10px #ffd900 inset;
    cursor: default;
   }
   .CardExperience:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: #FFD700;
   }
   .TopLeftLine {
    position:initial;
    top: 0;
    left: 0;
    width: 20px; /* Adjust the width of the line */
    height: 100%;
    background-color: #333; /* Adjust the color of the line */
    border-top-left-radius: 12px; /* Maintain the border radius for the container */
}
   .CardExperience__step {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
   }
   
   .CardExperience__title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
   }
   
   .CardExperience__text {
    font-size: 1rem;
    color: #333;
   }