.faq-container {
  max-width: 800px;
  margin-top:10%;
  margin-bottom:4%;
  margin-right:auto;
  margin-left:auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 0; 
  animation: fadeIn 0.5s forwards; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.faq-container h1 {
  color: #333;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 2%;
  margin-bottom: 20px;
}

.faq-question {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #e9e9e9;
}

h3 {
  color: #007bff;
}

p {
  color: #555;
}
